* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flex($flex-direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

.header {
    @include flex(row, center, center);

    .list-container {
        @include flex(row, center, center);
        ul {
            @include flex(row, center, center);
            list-style-type: none;
        }
    }
}