@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

@mixin flex($flex-direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin containerWdt($wdtValue) {
    width: $wdtValue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

:root {
    --headerHeight: 115px;
}

body {
    background-color: #1C1C1C;
    font-family: 'Open Sans', sans-serif;
}

.card-container {
    padding: 40px 125px 5px 125px;
}

.flex-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}